.btnDark{
  border-radius: 15px;
  background-color: #60A5FA;
  position: absolute;
  left: 36px;
  top: 19px;
}

@media screen and (max-width: 1057px) {
  .btnDark {
    left: 18px;
    top: 15px;
  }
}